body {
  background-color: #f4f7fa;
}
.chat-container {
  max-width: 600px;
  margin: 50px auto;
}
.chat-header {
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 20px;
  background-color: #6f42c1;
}
.chat-body {
  height: 400px;
  overflow-y: hidden;
  border-radius: 20px;
  background-color: white;
}
.message-list {
  padding: 0;
  overflow-y: auto;
  list-style: none;
  max-height: 400px;
}
.message-list li {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #e9ecef;
}
.message-list li:nth-child(odd) {
  background-color: #d6d8db;
}

.error-message {
  text-align: center;
}

.send-message {
  display: flex;
  margin-top: 20px;
}
.send-message input {
  border-radius: 20px;
}
.send-message button {
  border: none;
  color: white;
  border-radius: 20px;
  background-color: #6f42c1;
}
